@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --prefersdark, dark --default;
}

a.active {
  font-weight: 500;
  color: rgb(13, 110, 156);
}
a:hover {
  font-weight: 500;
}

body {
  background: linear-gradient(
    120deg,
    rgba(62, 65, 243, 0.15),
    rgba(18, 170, 235, 0.15),
    rgba(213, 47, 130, 0.15)
  );
}

